a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #aadb08;
}

.menu {
  position: fixed;
  top: 0px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
  padding: 5px 10px;
  text-align: right;
}

.menu ul{
  width:max-content;
  display:inline-block;
  align-items: right;
}

.menu ul li {
  display: inline-block;
  font-family: acme;
  font-size: 16px;
  color: #fff;
  margin-right: 25px;
}


.logobranca {
  background-image: url(../public/img/logobranca.png);
  background-size: 100%;
  width: 53.68px;
  height: 30px;
  float: left;
  margin-left: 30px;
  margin-top: 3px;
}

.painelInicial {
  background-image: url(../public/img/bgInicial.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  background-size: 100%;
  margin-top: 0px;
  padding-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.painelInicial ul {
  text-align: center;
}

.painelInicial li{
  list-style: none;
  margin-top: 30px;
}

.painelInicial h3{
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  margin-top: 350px;
}

.rodape {
  margin-top: 5px;
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100px;
}

.rodape .logobranca {
  margin-top: 40px;
  margin-left: 100px;
}

.rodape li {
  list-style: none;
  font-style: normal;
  font-size: 14px;
}

.redes {
  float: right;
  margin-right: 100px;
  margin-top: 40px;
}

.facebook {
  background-image: url(../public/img/fb.png); 
}

.instagram {
  background-image: url(../public/img/insta.png);
}

.linkedin {
  background-image: url(../public/img/linkedin.png);
}

.rede {
  width: 30px;
  height: 30px;
  background-size: contain;
  margin-right: 15px;
  float: left;
}

.rodape h4 {
  text-align: center;
  padding-top: 50px;
}

.painelSecundario {
  background-image: url(../public/img/bgSecund.jpg);
  width: 100%;
  height: max-content;
  background-size: 100%;
  margin-top: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background-repeat: no-repeat;
}

.painelSecundario ul {
  text-align: center;
  padding-top: 100px;
  color: #fff;
  font-style: normal;
  font-weight: 400;
}

.painelSecundario li{
  list-style: none;
  margin-top: 10px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;

}

.painelSecundario h3{
  color: #fff;
  font-size: 40px;
  line-height: 59px;
}

.planosDisponiveis {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.timeColaboradores {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contato h2{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  text-align: center;

  color: #FFFFFF;
}

.tituloCadastro{
  margin-bottom: 20px;
}

.painelSecundario .tituloCadastro li{  
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
}

.formularioCadastro .buttonVerde{
  min-width: "450px";
  padding-bottom: "10px";
  padding-top: "10px";
  margin-top: "-10px";
}

.Login{
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  margin-left: 0px;
  margin-top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Login form{
  background-color: white;
  padding: 50px;
  border-radius: 30px;
  color: #000000;
}

.Login form h2{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 44px;
  color: #000000;
  margin-bottom: 20px;
}

.Login form input{
  min-width: 300px !important;
  border: black 1px solid;
  color: black;

  box-sizing: border-box;
  height: 45px;
  border-radius: 30px;
  background: transparent;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 30px 10px 30px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.Login form input::placeholder{
  color: black;
}

.Login form button{
  min-width: 300px !important;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  box-shadow: none;;
}

.Login form .buttonVazado{
  border: 2px solid #81a606;
  color: #81a606;
}

.Login form h4{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  text-align: right;
  color: #000000;
  margin-top: 30px;
}

/*LOGADO*/

.menuLogado {
  position: fixed;
  top: 0px;
  width: 100%;
  background-image: url('../public/img/bgSecund.jpg');
  z-index: 999;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
  padding: 5px 10px;
  text-align: right;
}

.menuLogado ul{
  width:max-content;
  display:inline-block;
  align-items: right;
}

.menuLogado ul li {
  display: inline-block;
  font-family: acme;
  font-size: 16px;
  color: #fff;
  margin-right: 25px;
}

.logobranca {
  background-image: url(../public/img/logobranca.png);
  background-size: 100%;
  width: 53.68px;
  height: 30px;
  float: left;
  margin-left: 30px;
  margin-top: 3px;
}

.inicioLogado {
  background: white;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  background-size: 100%;
  margin-top: 0px;
  padding-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inicioLogado .corpoLogado{
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.inicioLogado div{
  border-radius: 10px;
}

.menuUserTop{
  margin-right: 100px;
}

.menuLogado input{
  min-width: 250px !important;
  border: black 1px solid;
  color: black;
  padding: 5px 20px;
  font-family: acme;
  font-size: 16px;
  color: #fff;
  border-radius: 30px;
}

.menuEsquerdo{
  padding: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-family: 'Montserrat';
  text-align: center;
}

.menuEsquerdo .logoEmpresa{
  height: 150px;
  width: 150px;
  border-radius: 100%;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
  background-image: url('https://e3ba6e8732e83984.cdn.gocache.net/uploads/image/file/120147/regular_novo-20logo.JPG');
  background-size: 100%;
  margin-bottom: 30px;
}

.menuEsquerdo h4{
  margin-top: 10px;
  margin-bottom: 10px;
}

.menuEsquerdo ul{
  list-style: none;
  width: 100%;
  margin-top: 30px;
}

.menuEsquerdo ul li{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px;
  margin: 5px 0px;
  cursor: pointer;
}

.menuEsquerdo ul li:hover{
  background-color: rgba(241, 241, 241, 0.4);
  color: black;
}

.barraProgresso{
  width: 100%;
  background-color: #ddd;
}

.barraProgresso .progresso{
  width: 15%;
  height: 10px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 32px;
  color: black;
}

.colunaDireita{
  margin-left: 50px;
}

.colunaDireita .missoesPendentes{
  height: 300px;
  width: 700px;
  font-family: Montserrat;
}

.colunaDireita .missoesPendentes h4{
  margin-bottom: 15px;
}

.colunaDireita .missoesPendentes .missoes{
  overflow-y: scroll;
  scrollbar-color: #3b3b3b #ffffff;
  height: 250px;
}

.colunaDireita .missoesPendentes .missoes::-webkit-scrollbar{
  width: 15px;
}

.colunaDireita .missoesPendentes .missoes::-webkit-scrollbar-track{
  background: #ffffff;
}

.colunaDireita .missoesPendentes .missoes::-webkit-scrollbar-thumb{
  background-color: #3b3b3b;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

.colunaDireita .game{
  height: 300px;
  width: 700px;
  margin-top: 30px;
  background-image: url('../public/img/sala.png');
  background-size: 100%;
}

.task{
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  height: 35px;
  margin: 5px;
  padding: 5px 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  cursor: pointer;
}

.task .check{
  background-image: url('../public/img/check.png');
  background-size: 100%;
  height: 22px;
  width: 22px;
}

.task .check:active{
  background-image: url('../public/img/checked.png');
}

.menuEsquerdo table{
  margin-top: 30px;
}

.menuEsquerdo table tr td{
  height: 50px;
  width: 50px;
  background-size: 100%;
}

.menuEsquerdo table tr .rec1{
  background-image: url(../public/img/recompensas/boaComunicaçãoCliente.png);
}

.menuEsquerdo table tr .rec2{
  background-image: url(../public/img/recompensas/boaComunicaçãoInterna.png);
}

.menuEsquerdo table tr .rec3{
  background-image: url(../public/img/recompensas/bomEmGeolocalização.png);
}

.menuEsquerdo table tr .rec4{
  background-image: url(../public/img/recompensas/sempreAtualizado.png);
}

.menuEsquerdo table tr .rec5{
  background-image: url(../public/img/recompensas/bonsDiagramas.png);
}

.menuEsquerdo table tr .rec6{
  background-image: url(../public/img/recompensas/caraDaRede.png);
}

.colunaDireita .historico{
  height: 300px;
  width: 700px;
  font-family: Montserrat;
}

.colunaDireita .historico h4{
  margin-bottom: 15px;
}

.colunaDireita .historico .missoes{
  overflow-y: scroll;
  scrollbar-color: #3b3b3b #ffffff;
  height: 250px;
}

.colunaDireita .historico .missoes::-webkit-scrollbar{
  width: 15px;
}

.colunaDireita .historico .missoes::-webkit-scrollbar-track{
  background: #ffffff;
}

.colunaDireita .historico .missoes::-webkit-scrollbar-thumb{
  background-color: #3b3b3b;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

.historico .task .check{
  background-image: url('../public/img/checked.png');
  background-size: 100%;
  height: 22px;
  width: 22px;
}

.historico .task{
  color:#88ad11;
}